In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /home/lainislain/spark_env/lib/python3.12/site-packages (4.1.1)
Requirement already satisfied: py4j<0.10.9.10,>=0.10.9.7 in /home/lainislain/spark_env/lib/python3.12/site-packages (from pyspark) (0.10.9.9)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pyspark
import os
os.getcwd()

'/home/lainislain/spark-databricks-learning/notebooks/bronze_ingestion'

In [9]:
import pandas as pd
pd.read_csv('example.csv')

     name  age       city signup_date        plan  is_active    spend
0   Amina   29    Seattle  2024-01-15         Pro       True   129.50
1     Ben   34     Austin  2023-11-02       Basic      False     0.00
2    Chen   41   San Jose  2022-06-30         Pro       True   560.00
3   Daria   23    Chicago  2024-09-10        Free       True    12.75
4     Eli   38   New York  2021-03-22  Enterprise       True  1240.00
5  Fatima   31     Denver  2024-05-05       Basic       True    89.99
6    Gabe   27     Boston  2023-12-12        Free      False     0.00
7    Hiro   45  San Diego  2020-08-19  Enterprise       True  2300.10
8    Ines   36   Portland  2022-02-14         Pro       True   410.25
9   Jamal   30    Atlanta  2024-07-01       Basic       True    59.00