In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /home/lainislain/spark_env/lib/python3.12/site-packages (4.1.1)
Requirement already satisfied: py4j<0.10.9.10,>=0.10.9.7 in /home/lainislain/spark_env/lib/python3.12/site-packages (from pyspark) (0.10.9.9)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pyspark
import os
os.getcwd()

'/home/lainislain/spark-databricks-learning/notebooks/bronze_ingestion'

In [9]:
import pandas as pd
df_pandas = pd.read_csv("../../data/example.csv")

In [7]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/02/06 12:34:49 WARN Utils: Your hostname, MA-L-481079, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
26/02/06 12:34:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/06 12:34:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
26/02/06 12:34:50 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [8]:
spark

In [17]:
df_spark = spark.read.option('header','true').csv("../../data/example.csv", inferSchema=True)

In [18]:
df_spark.show()

+------+---+---------+-----------+----------+---------+------+
|  name|age|     city|signup_date|      plan|is_active| spend|
+------+---+---------+-----------+----------+---------+------+
| Amina| 29|  Seattle| 2024-01-15|       Pro|     true| 129.5|
|   Ben| 34|   Austin| 2023-11-02|     Basic|    false|   0.0|
|  Chen| 41| San Jose| 2022-06-30|       Pro|     true| 560.0|
| Daria| 23|  Chicago| 2024-09-10|      Free|     true| 12.75|
|   Eli| 38| New York| 2021-03-22|Enterprise|     true|1240.0|
|Fatima| 31|   Denver| 2024-05-05|     Basic|     true| 89.99|
|  Gabe| 27|   Boston| 2023-12-12|      Free|    false|   0.0|
|  Hiro| 45|San Diego| 2020-08-19|Enterprise|     true|2300.1|
|  Ines| 36| Portland| 2022-02-14|       Pro|     true|410.25|
| Jamal| 30|  Atlanta| 2024-07-01|     Basic|     true|  59.0|
+------+---+---------+-----------+----------+---------+------+

In [14]:
df_pandas

     name  age       city signup_date        plan  is_active    spend
0   Amina   29    Seattle  2024-01-15         Pro       True   129.50
1     Ben   34     Austin  2023-11-02       Basic      False     0.00
2    Chen   41   San Jose  2022-06-30         Pro       True   560.00
3   Daria   23    Chicago  2024-09-10        Free       True    12.75
4     Eli   38   New York  2021-03-22  Enterprise       True  1240.00
5  Fatima   31     Denver  2024-05-05       Basic       True    89.99
6    Gabe   27     Boston  2023-12-12        Free      False     0.00
7    Hiro   45  San Diego  2020-08-19  Enterprise       True  2300.10
8    Ines   36   Portland  2022-02-14         Pro       True   410.25
9   Jamal   30    Atlanta  2024-07-01       Basic       True    59.00

In [19]:
df_spark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- signup_date: date (nullable = true)
 |-- plan: string (nullable = true)
 |-- is_active: boolean (nullable = true)
 |-- spend: double (nullable = true)